Magistrale/Primo Anno/Architetture Software a Microservizi/Jolie/exercises/xml/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="degree">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="course" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
 </xs:element>
  
  <xs:element name="course">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="cfu" type="xs:int"/>
        <xs:element ref="professor" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
    <xs:element name="professor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>